
:root {
  --limeGreen: limegreen;
  --mainWhite: #f0f0f0;
  --secondaryBlack: #333;
  --white: #fff;
}

.navigation-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  border-right: 1px solid grey;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: var(--white);
  width: 15%;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
}

.logo-container {
  height: 50px;
  width: 50px;
}

.logo {
  width: 100%;
  max-width: 100%;
}

nav > ul {
  display: flex;
  flex-direction: column;
  padding-left: 0.75rem;
  width: 100%;
  list-style-type: none;
}

nav > ul li {
  width: 100%;
  display: grid;
  place-items: center;
}

nav > ul a {
  color: var(--secondaryBlack);
  text-decoration: none;
  font-weight: bold;
  width: 100%;
  padding-left: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-transform: uppercase;
  height: auto;
}

nav > ul a.active {
  background: var(--limeGreen);
  color: var(--mainWhite);
}

footer {
  width: 100%;
}

.social-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 1.75rem;
}

.social-container p {
  font-size: 0.75rem;
  color: var(--secondaryBlack);
}

.icons {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  gap: 0.5rem;
}

/* -------------------------------------------------------Classes----------------------- */
.main-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 0;
  right: 0;
  position: relative;
  height: 100vh;
  width: 100%;
}

.loading,
.empty-list {
  text-align: center;
  margin-top: 10vh;
  margin-left: 15%;
  width: 85%;
}

.classes-wrapper {
  width: 85%;
  padding-right: 2rem;
  right: 0;
  position: absolute;
  height: 100%;
  padding-bottom: 4rem;
  margin-left: 15%;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 999;
}

.classes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-row-gap: 1.5rem;
  width: 100%;
  position: absolute;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  padding-top: 2px;
  padding-bottom: 0.5rem;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.img-wrap {
  width: 85%;
  height: 150px;
}

.car-img {
  max-width: 100%;
  height: 100%;
  width: 100%;
}

.article-name-wrap,
.article-socials {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.article-socials p {
  font-size: 1rem;
}

.article-name-wrap {
  border-bottom: 1px dotted grey;
}

.article-name-wrap h6 {
  font-weight: bold;
  color: black;
  text-transform: uppercase;
}

.article-description {
  text-align: center;
  font-size: 0.75rem;
}
